<template>
  <div id="app">
    <select v-model="selected" @change="updateChart()">
      <option v-bind:value="2007">2007</option>
      <option v-bind:value="2008">2008</option>
    </select>
    <canvas id="planet-chart"></canvas>
  </div>
</template>

<script>
  import Chart from 'chart.js';
  import { crimeData } from '@/chart-data.js';

  export default {

    data() {
      return {
        selected: '2007',
        chart: null
      }
    },

    mounted() {
      this.chart = this.createChart('planet-chart', {
        type: 'bar',
        data: {
          labels: this.getlabels(),
          datasets: [
            {
              label: 'Number of Crimes',
              data: this.getCrimeData(),
              backgroundColor: [
                'rgba(54,73,93,.5)', // Blue
                'rgba(54,73,93,.5)',
                'rgba(54,73,93,.5)',
                'rgba(54,73,93,.5)',
                'rgba(54,73,93,.5)',
                'rgba(54,73,93,.5)',
                'rgba(54,73,93,.5)',
                'rgba(54,73,93,.5)'
              ],
              borderColor: [
                '#36495d',
                '#36495d',
                '#36495d',
                '#36495d',
                '#36495d',
                '#36495d',
                '#36495d',
                '#36495d',
              ],
              borderWidth: 3
            }
          ]
        },
        options: {
          responsive: true,
          lineTension: 1,
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
                padding: 25,
              }
            }]
          }
        }
      });
    },

    methods: {

      getlabels() {
        let labels = [];
        Object.entries(crimeData).forEach(item => {
          let year = item[0];
          let months = item[1];
          if (year == this.selected) {
            months.forEach(item => {
              labels.push(item['Month']);
            });
          }
        });
        return labels;
      },

      getCrimeData() {
        let myData = [];
        Object.entries(crimeData).forEach(item => {
          let year = item[0];
          let months = item[1];
          if (year == this.selected) {
            months.forEach(item => {
              myData.push(item['Number']);
            });
          }
        });
        return myData;
      },

      createChart(chartId, chartData) {
        const ctx = document.getElementById(chartId);
        return new Chart(ctx, {
            type: chartData.type,
            data: chartData.data,
            options: chartData.options,
          });
      },

      updateChart() {

        // update labels, data
        this.getlabels();
        this.getCrimeData();

        // remove data
        this.removeData();
        this.addData();

        // update chart
        this.chart.update();
      },

      addData() {
        let chart = this.chart;
        let labels = this.getlabels();
        let crimeData = this.getCrimeData();

        labels.forEach((item, idx) => { // add labels
          chart.data.labels[idx] = item;
        });

        crimeData.forEach((item, idx) => { // add data
          chart.data.datasets[0].data[idx] = item;
        });
      },

      removeData() {
        this.chart.data.labels = []; // clear labels
        let data = this.chart.data.datasets[0].data; // clear data
        data.forEach(() => { data.pop(); });
      }
    }
  }
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  #nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
</style>
